.DS_Store
.classpath
.metadata
.clover
.idea
*.iml
.project
.settings
.tmp_*
.reverse.properties
*.swp
*.log
bin
git-daemon-export-ok
target
bin-debug
temp-testng-customsuite.xml
test-output
testng-errors.xml
testng-failures.xml
testng.xml
gfembed*
derby.log
MANIFEST.MF
TurboScale-Proxy.zip
TAGS
api/mail-messages.xml
api/settings.xml
agent/apiharness/settings.xml
data_model/settings.xml
data_access/settings.xml
rest-mvc/settings.xml
rest-mvc/impl/settings.xml
wats_common/settings.xml
wats_vmManager/settings.xml
web/web_support/settings.xml
searchDirectory
pom.properties
migrate_script
tank_common/settings.xml
tank_vmManager/settings.xml
tank.mwb
agent/http_client_3/settings.xml
agent/http_client_4/settings.xml
agent/http_client_jdk/settings.xml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
