.DS_Store
.classpath
.clover
.project
.settings
.tmp_*
.reverse.properties
*.swp
*.log
bin
git-daemon-export-ok
target
bin-debug
temp-testng-customsuite.xml
test-output
testng-errors.xml
testng-failures.xml
testng.xml
gfembed*
derby.log
MANIFEST.MF
TurboScale-Proxy.zip
TAGS
api/mail-messages.xml
api/settings.xml
agent/apiharness/settings.xml
data_model/settings.xml
data_access/settings.xml
wats_common/settings.xml
wats_vmManager/settings.xml
web/web_support/settings.xml
searchDirectory
pom.properties
migrate_script
