spring:
  config:
    use-legacy-processing: true
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB
  codec:
    max-in-memory-size: 200MB
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB
  main:
    banner-mode: "off"
  logging:
    config: classpath:log4j2.xml

springdoc:
  swagger-ui:
    operationsSorter: alpha
    defaultModelsExpandDepth: -1

jsk:
  lastmile:
    enabled: false

# Configuration of TLS Termination in service layer
server:
  max-http-header-size: 32KB
  port: 8080
  include-debug-info: false # Set to true for stack trace in error log messages
  error:
    whitelabel:
      enabled: false
  ssl:
    enabled: true
    enabled-protocols: TLSv1.2
    key-alias: tomcat
    key-store: /app/tmp/keystore.pkcs12
    key-store-password: ${TLS_KEYSTORE_PASSWORD}
    key-store-type: PKCS12
  servlet:
    session:
      cookie:
        secure: true
        http-only: true
  tomcat:
    accesslog:
      request-attributes-enabled: true
    use-relative-redirects: true
