<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <RollingFile name="tank" filename="logs/tank.log" filePattern="logs/tank-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd  HH:mm:ss,SSS z} %5p %c{1}:%L - %m%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.intuit.tank" level="info" additivity="false">
            <AppenderRef ref="tank-api"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="tank-api"/>
        </Root>
    </Loggers>
</Configuration>
