<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    
    <appender name="SERVER_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- You should remove the 'cid' and 'clu' items if you're not using those tags, as the same info is logged via the simple "%X". -->
            <!-- Note that %line is very helpful but computationally expensive: http://logback.qos.ch/manual/layouts.html#ClassicPatternLayout ... -->
            <!-- ...related: Spring enables use of profiles in logback or log4j2 configuration files; see https://springframework.guru/using-logback-spring-boot/ -->
            <pattern>
                [%date{"yyyy-MM-dd'T'HH:mm:ss,SSSZ"}]-[%-5level]-["%thread" %X cid=%X{realmId}, clu=%X{clusterId}]-[%logger{25}]-[%line]-%msg %ex{full}%n
            </pattern>
        </encoder>
    </appender>

    
    <logger name="com.intuit.tank.rest.mvc" level="DEBUG" additivity="false">
        <appender-ref ref="SERVER_CONSOLE" />
    </logger>


    <root level="INFO">
        <appender-ref ref="SERVER_CONSOLE" />
    </root>

</configuration>
