<?xml version="1.0" encoding="UTF-8"?>
<Configuration>>
    <Appenders>
        <RollingFile name="tank" filename="tank.log" filePattern="tank-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
            <Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
		<Logger name="com.intuit" level="info" additivity="false">
			<appender-ref ref="tank" level="info"/>
		</Logger>
		<Logger name="com.singularity" level="error" additivity="false">
			<appender-ref ref="tank" level="error"/>
		</Logger>
		<Logger name="org.hibernate" level="error" additivity="false">
			<appender-ref ref="tank" level="error"/>
		</Logger>
        <Root level="error">
            <AppenderRef ref="tank"/>
        </Root>
    </Loggers>
</Configuration>