<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
	xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="tank" class="org.apache.log4j.RollingFileAppender">
	   <param name="append" value="false" />
	   <param name="maxFileSize" value="10MB" />
	   <param name="maxBackupIndex" value="40" />
	   <!-- For Tomcat -->
	   <param name="file" value="${catalina.home}/logs/tank.log" />
	   <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" 
			value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	   </layout>
	</appender>
    <category name="com.intuit">  
        <priority value="INFO" />  
    </category>
    <category name="com.singularity">  
        <priority value="ERROR" />  
    </category>
        <category name="org.hibernate">  
        <priority value="ERROR" />  
    </category>
    	<root>
		<level value="ERROR" />
		<appender-ref ref="tank" />
	</root>

</log4j:configuration>