body { /* padding: 0; */
  /* background-color: #EAECEE; */
  font-family: Verdana, sans-serif;
  font-size: 12px;
  margin:0;
  padding: 0;
  min-width: 1200px;
}

a img {
  border: none;
}

#container {
  margin: 0 auto 10px auto;
  min-width: 1000px;
  border: 1px solid gray;
  padding-bottom: 10px;
}

thead {
  border: 1px solid;
  color: white;
  font-family: Arial, Verdana, sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding: 0px;
  background-position: left top;
  background-repeat: repeat-x;
  border-color: silver;
}

.save-button,.delete-button,.cancel-button,.icon-button {
  background-attachment: center;
  background-repeat: no-repeat;
  background-color: #DBEAFF;
  /* background-color: #cccccc; */
  background-position: 3px 5px;
  padding: 0px 0px 0px 0px;
  border-radius: 5px;
}

.save-button:active,.delete-button:active,.cancel-button:active,.icon-button:active {
  background-color: #BCD4F2;
  background-position: 5px 5px;
}

.save-button {
  background-image: url(../gfx/save_as.png);
}

.cancel-button {
  background-image: url(../gfx/cancel.png);
}

.delete-button {
  background-image: url(../gfx/delete.png);
}

.image-button {
  background-attachment: center;
  background-repeat: no-repeat;
  /* background-color: #cccccc; */
  background-position: 5px center;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
}

thead,.o_tls_caption,.o_table_sorted_column_header,.header-background-color {
  background-color: #4A75B5;
}

.pointer {
  cursor: pointer;
}

.stripeMe {
  
}

.icon-button:hover,.over {
  background-color: #FFFEE2;
}

.hilight-background-color,.alt {
  background-color: #DBEAFF;
}

.alt-even {
  background-color: #ffffff;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.formRow,.clearfix {
  display: inline-block;
}

.formRow:after,.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* required comment for clearfix to work in Opera \*/
* html .clearfix {
  height: 1%;
}

.formRow,.clearfix {
  display: block;
}
/* end clearfix */

/*
.formLabel:after {
  content: ": ";
}
*/
.required:after { /* append an asterisk */
  content: " * ";
}

.buttonBox {
  text-align: right;
  width: 450px;
}

.formLabelDiv {
  float: left;
  width: 200px;
  margin: 0 5px;
  text-align: left;
}

.smallFormLabelDiv {
  float: left;
  width: 100px;
  margin: 0 5px;
  text-align: left;
}

.smallFormInputDiv {
  float: left;
  width: 100px;
  margin: 0 5px;
  text-align: left;
}
.mediumFormInputDiv {
  float: left;
  width: 300px;
  margin: 0 5px;
  text-align: left;
}

.formInputDiv {
  float: left;
  width: 700px;
}

.clearfix {
  display: inline-block;
}

.testClass {
  color: orange;
}

.formInput {
  width: 200px;
}

.smallFormInput {
  width: 50px;
}

.formLabel {
  width: 75px;
}

.inputWidthMedium {
  width: 200px;
}

.inputWidthSmall {
  width: 100px;
}

.inputWidthXSmall {
  width: 50px;
}

.formRow {
  padding: 2px 0 0 0;
}

.header-font-size {
  font-size: 18px;
  vertical-align: top;
  font-weight: bold;
  padding-top: 3px;
}

.table-header-font-size {
  font-size: 14px;
}

/* width styles*/
.width80px {
  width: 80px;
}

.width48Percent {
  width: 49%;
}

.width60Percent {
  width: 60%;
}

.width15Percent {
  width: 15%;
}

.width10Percent {
  width: 10%;
}

.width30Percent {
  width: 30%;
}

.width40Percent {
  width: 40%;
}

.width50Percent {
  width: 50%;
}

.width25Percent {
  width: 25%;
}

.width20Percent {
  width: 20%;
}

/*  Positioning styles */
.pad10Right {
  padding-right: 10px;
}

.pad10Left {
  padding-left: 10px;
}

.pad10Top {
  padding-top: 10px;
}

.pad10Bottom {
  padding-bottom: 10px;
}

.v-space {
  margin: 10px 0;
}

.h-space {
  margin-right: 10px;
  margin-left: 10px;
}

.pad10 {
  padding: 10px;
}

.pad2 {
  padding: 2px;
}

.pad15Right {
  padding-right: 15px;
}

.pad20Right {
  padding-right: 20px;
}

.pad15Left {
  padding-left: 15px;
}

.pad15Top {
  padding-top: 15px;
}

.pad15Bottom {
  padding-bottom: 15px;
}

.pad15 {
  padding: 15px;
}

.pad5 {
  padding: 5px;
}

.component-seperator {
  margin-bottom: 5px;
}

/*  endPositioning styles */
.tab-background {
  background-color: #FFFFFF;
}

.rf-tab-cnt {
  background-color: #FFFFFF;
}

.curved-border {
  border-radius: 5px 5px 0px 0px;
}

.normal-border {
  border-radius: 0px;
}

.o_tls_caption {
  font-weight: bold;
  padding: 4px 4px 2px;
}

#shuffleListId {
  font-color: #FFFFFF;
  font-weight: 12px;
}

.rf-tab-hdr-tabline-vis {
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 0;
  height: 25px;
  overflow: hidden;
  padding-top: 2px;
  position: relative;
  white-space: nowrap;
  background-image: none;
  background-color: #FFFFFF;
}

.list-selection-header {
  color: #FFFFFF;
  font-weight: 12px;
}

.clear-both {
  clear: both;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.request-search-width {
  width : 900px;
}

.think-search-width {
  width : 200px;
}

.sleep-search-width {
  width : 100px;
}

.variable-search-width {
  width : 200px;
}

.full-width {
  width: 100%;
}

.height500 {
  height: 500px;
}

.height400 {
  height: 400px;
}

.height350 {
  height: 350px;
}

.height300 {
  height: 300px;
}

.overflow-scroll {
  overflow: scroll;
}

.overflowEllipsis {
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vertical-spacer {
  padding-top: 10px;
}

.horizontal-spacer {
  padding-right: 10px;
}

.centerDiv {
  margin-left: auto;
  margin-right: auto;
}

.noBg {
  background: none;
}

.noBorder {
  border: none;
}

.treeTable td {
  border: 1px solid gray;
}

.toolbar-ui {
  margin-top: 6px;
}

.chartTip {
  font-size: 10px;
  padding: 3px;
}
.chartTipLabel {
  
}
.chartTipValue {
  font-weight: bold;
}
.chartTipTitle {
  font-weight: bold;
  font-size: 12px;
}

.block {
  display: block;
}
.gray {
  color: gray;
}