/*  Tank Styles */
.ts-header-menu-itm,
.ts-header-menu-itm a, 
.ts-header-menu-itm a:active,
.ts-header-menu-itm a:visited
{
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  padding-right: 10px;
}

.ts-header-menu-itm-selected,
.ts-header-menu-itm-selected a, 
.ts-header-menu-itm-selected a:active,
.ts-header-menu-itm-selected a:visited,
.ts-header-menu-itm-selected a:hover,
.ts-header-menu-itm a:hover {
    color: #E17009;
}

.content
{
    margin: 2px 0 0 0;  
}

.rf-tab-cnt {
background: none repeat scroll 0 0;
background-color : #FFFFFF;
}

.rf-tab-hdr-act {
border-radius : 5px 5px 0px 0px;
}

.rf-tab-hdr-tabline-vis {
  border-color: #C0C0C0;
  border-style: solid;
  border-width: 1px 1px 0;
  height: 25px;
  overflow: hidden;
  padding-top: 2px;
  position: relative;
  white-space: nowrap;
  background-image: none;
  background-color: #FFFFFF;
}

.normal-column{
width:30%;
}

.wide-column{
width:40%;
}

.short-column{
width:10%;
}

.actions-column-small {
  text-align: center;
  width:40px;
  min-width: 40px; 
  max-width:40px;
}

.actions-column-medium {
  text-align: center;
  width:80px;
  min-width: 80px; 
  max-width:80px;
}

.actions-column-large {
  text-align: left;
  width:160px;
  min-width: 160px; 
  max-width:160px;
}

.select-column {
  text-align: center;
  width: 20px;
  min-width: 20px; 
  max-width:20px;
}
.min-column-size {
    min-width:100px;  
}

.normal-column {
  width: 40%;
}

.wide-column {
  width: 60%;
}

.short-column {
  width: 20%;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.status {
  display: none;
  margin: 0px;
  border: 3px solid #023257;
  background: none repeat scroll 0 0 #477EA8;
  padding: 20px;
  position: fixed;
  right: 10px;
  top: 10px;
  width: auto;
  opacity: 0.80;
  border-radius: 10px;
  color: #ffffff;
}

.error {
	color: red;
}
