<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="tank" filename="logs/tank-agent-startup.log">
            <PatternLayout pattern="%d{yyyy-MM-dd  HH:mm:ss,SSS z} %5p %c{1}:%L - %m%n" />
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.intuit.tank" level="info" additivity="false">
            <appender-ref ref="tank" level="info"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="tank"/>
        </Root>
    </Loggers>
</Configuration>