<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="http" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd  HH:mm:ss,SSS z} %5p %c{1}:%L - %m%n" />
        </Console>
        <Console name="agent" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd  HH:mm:ss,SSS z} %5p %c{1}:%L - %m%n" />
        </Console>
    </Appenders>
    <Loggers>
		<Logger name="com.intuit.tank.http" level="error" additivity="false">
			<appender-ref ref="http" level="error"/>
		</Logger>
		<Logger name="com.intuit.tank" level="info" additivity="false">
			<appender-ref ref="agent" level="info"/>
		</Logger>
        <Root level="error">
            <AppenderRef ref="agent"/>
        </Root>
    </Loggers>
</Configuration>