<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="com.intuit.tank.tools.debugger">
    <Appenders>
        <RollingFile name="proxy" filename="proxy.log" filePattern="proxy-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd  HH:mm:ss,SSS z} %5p %c{1}:%L - %m%n" />
            <Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="proxy"/>
        </Root>
    </Loggers>
</Configuration>